<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- USER -->
<mapper namespace="com.jxnudekt.server.dao.UserDao">
    <!-- 结果映射 -->
    <resultMap id="userMap" type="com.jxnudekt.server.pojo.User">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="descrioition" property="descrioition" jdbcType="VARCHAR" />
    </resultMap>

    <parameterMap id="User" type="com.jxnudekt.server.pojo.User"/>

    <!-- 表所有字段 -->
    <sql id="allColumns">
        id, uid, name, descrioition
    </sql>

    <!--根据Id查找用户-->
    <select id="findUserById" resultMap="userMap" parameterType="java.lang.Long">
        select
        <include refid="allColumns"/>
        from user
        where uid=#{uid}
    </select>

    <!-- 查询所有用户 -->
    <select id="findAllUser" resultMap="userMap">
        SELECT
        <include refid="allColumns" />
        FROM user
    </select>

    <!-- 增加用户 -->
    <insert id="addUser" parameterMap="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(id,uid,name,descrioition) values (#{id},#{uid},#{name},#{descrioition})
    </insert>

    <!-- 更新用户 -->
    <update id="updateUser" parameterMap="User">
        UPDATE user set
            <if test="id != null">id = #{id},</if>
            <if test="name != null">name = #{name},</if>
            <if test="descrioition != null">descrioition = #{descrioition}</if>
        WHERE  uid = #{uid}
    </update>

</mapper>